<!DOCTYPE html>
<html>
  <head>
    <title>体調管理アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=divece-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- ********** 「body」タグ内の一番上に，以下を追加 ********** -->
  <!-- 本当は必要なページだけに追加すべきですが，本題ではないのでここに追加します -->
  <!-- 全ページにナビバーを追加 -->
  <%= render 'shared/header' %>
  <!-- ログイン関連ページ以外にフラッシュ表示部分を追加 -->
  <% if controller_name == 'graphs' %>
    <%= render 'shared/flash_messages' %>
  <% end %>
  <!-- ********** 以上を追加 ********** -->
    <div class="graph-container">
    <%= yield %>
    </div>
  </body>
</html>
